.emailText{
    font-size: clamp(24px, 7.5vw, 110px);
    width: fit-content;

    &:hover{
        -webkit-text-fill-color: #F0F9F1; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #050606;
        text-decoration: none;
    }
}


.contactTitle{
    font-size: clamp(20px, 11vw, 96px);
}

.formTitle{
    font-size: clamp(20px, 8vw, 96px);
}