.titles{
    color: #050606;
    -webkit-text-fill-color: #050606;; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F0F9F1;;
}

.home-gallery-title{
    display: flex;
    flex-direction: column;
    transition: all 150ms;


    &::after{
        content: "";
        height: 3px;
        max-width: 80%;
        margin-left: 30%;
        margin-top: 22px;
        @apply bg-secondary;

        @media (min-width: 1024px) {
            max-width: 55%;
            margin-left: 22%;

        }
    }
}

.gallery-container{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}