.projects-navbar{
    background-image: url('../../public/assets/png/navigation/project-navbar-img.png');
    background-size: cover;
    background-position: 70% 50%;
    background-repeat: no-repeat;
}