$anim-duration: 1000s;

.container{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .slider{
      animation-name: marquee;
      animation-duration: $anim-duration;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      
      .slide{
          margin: 24px 0;

          img{
              width: 100%;
          }
      }
    }
}


// Scrolling animation\
@keyframes marquee {
  0% {
    transform: translateZ(0) translateY(0);
  }

  to {
    transform: translateZ(0) translateY(calc(-49.5% - 12px));
  }
}



// @keyframes marquee {
//   0% {
//     transform: translate(0, 0);
//   }
//   100% {
//     // Multiply the $anim-duration by 1.891 to get an estimate translateY % 
//     transform: translate(0, -141.825%);
//   }
// }