.titles{
    color: #050606;
    -webkit-text-fill-color: #050606;; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F0F9F1;;
}

.home-gallery-title{
    display: flex;
    flex-direction: column;

    &::after{
        content: "";
        height: 3px;
        max-width: 55%;
        margin-left: 22%;
        margin-top: 22px;
        @apply bg-secondary
    }
}

.gallery-container{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}